body{
    font-family:"open sans",sans-serif;
    background-color:purple;
    background-size: 25%;
      
}
.div1{
     background:linear-gradient( -10deg,green,yellow,red,black,purple,orange,blue);
}
img{
    width: 400px;
    border: 8px groove white;
    display:block;
    margin:50px 50px;
}

img:hover{
    width: 420px;
    border: 8px groove blue;
    display:inline;
    margin:50px 50px;
}


#id2{
    float:right;
    margin:50px 50px;
    ;
}
h1{
    display:inline;
    text-align: center;
    font:italic normal 25px/52px verdana,sans serif;
    
}
#id1{
    ;
}
audio{
    text-align:right;
    
}

video{
   width: 500px;
   height: 250px;
}
h1:hover{
    color:red;
    display: inline;
}
a:link{
    color:orange;
}
td,th{
    border:5px groove black;
    padding:20px;
}
table{
    border-collapse:collapse;
}
.tr{
    overflow:hidden;
    border-radius:25px;
    width:200px;
    height:200px;
    background-color:red;
    -webkit-transition: 3s width 2s, background-color 5s;
    -moz-transition: 3s width 2s, background-color 5s;
    -o-transition: 3s width 2s, background-color 5s;
    transition: 3s width 2s, background-color 5s;
}
.tr:hover{
    width:500px;
    background-color: green;
    background:linear-gradient( -10deg,green,yellow,red,darkblue ,purple,orange,blue);
}
.divi{
    background:linear-gradient( -10deg,green,yellow,red,darkblue ,purple,orange,blue);
    font-size:25px;
    display:inline-block;
    float:right;
    line-height:50px;
}
#pbtn{
   float:right;
   display:inline-block;
}

#idp{
   display: inline-block;
}

#divi1{
   background-color: green;
}

#divi2{
   background-color: yellow;
}

#divi3{
   background-color:red;
}

#divi4{
   background-color: blue;
}

#divi5{
   background-color: lime;
}

#divi6{
   background-color: aqua;
}

#divi7{
   background-color: silver;
 
}

#divi8{
   background-color: navy;
}

#divi9{
   background-color: gray;
}

#divi10{
   background-color: teal;
}

#divi11{
   background-color: purple;
}

section{
   display: block;
}

#center{
   text-align: center;
}